<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="google-signin-scope" content="profile email" />
  <meta name="google-signin-client_id"
    content="820189505460-vq2kl70aufgnihej3tuo1sbib7e7jssc.apps.googleusercontent.com" />
  <script src="https://apis.google.com/js/platform.js?onload=onload" async defer></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <title>Piano Tutoring</title>

  <!-- google fonts Ubuntu, montserrat-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu:400,700i&display=swap"
    rel="stylesheet" />

  <!-- font awesome-->
  <script src="https://kit.fontawesome.com/e156ac3480.js" crossorigin="anonymous"></script>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/userRoom.css" />

  <!-- bootstrap Javascript, jQuery-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <style>
    #customBtn {
      display: inline-block;
    }

    .abcRioButtonBlue .abcRioButtonContentWrapper {
      background-color: black;
    }
  </style>
</head>

<body>
  <section id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">piano tutoring</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tutors">Tutors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/songs">Songs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/community">Community</a>
            </li>
            <li class="nav-item">
              <% if(login_state) { %>
              <a class="nav-link" href="/userRoom"><%= user_name %>님</a>
              <% } else { %>
              <a class="login-button" href="/userRoom"><i class="far fa-user-circle fa-2x"></i></a>
              <% } %>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Title -->
    </div>
  </section>

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="align-center col-md-5 p-lg-5 mx-auto my-5">

      <% if (login_state) { %>
      <div id="hide" class="g-signin2" data-onsuccess="onSignIn();" data-theme="dark"></div>
      <div class="btn btn-outline-light btn-lg download-button">
        <a href="#" onclick="signOut();">SignOut</a>
      </div>
      <% } else { %>
      <h1 class="display-4 font-weight-normal">Let's Login</h1>
      <p class="lead font-weight-normal">Wellcome to Piano tutoring, we waited for you :)</p>
      <div id="customBtn" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
      <% } %>

    </div>
    <script>
      function temp() {
        axios
          .post("/", {
            login_state: true,
            user_email: "vvvpiano60@gmail.com",
            user_name: "김서영"
          })
          .then(function (result) {
            if (result.status === 200) window.location.href = "/";
          })
          .catch(function (error) {
            alert(error.message);
          });
      }
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:

        console.log("onSignIn 들어옴");
        var profile = googleUser.getBasicProfile();

        axios
          .post("/", {
            login_state: true,
            user_email: profile.getEmail(),
            user_name: profile.getName()
          })
          .then(function (result) {
            if (result.status === 200) window.location.href = "/";
          })
          .catch(function (error) {
            alert(error.message);
          });
      }

      function signOut() {
        login_state = false;
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log("User signed out.");
          auth2.disconnect(); // <!-- 자동로그인 방지 -->
        });
        function onLoad() {
          gapi.load("auth2", function () {
            gapi.auth2.init();
          });
        }
        axios
          .post("/logout", {
            login_state: false,
            user_email: null,
            user_name: null
          })
          .then(function (result) {
            if (result.status === 200) window.location.href = "/";
          })
          .catch(function (error) {
            alert(error.message);
          });
      }

      function gotoTP(tutor_id) {
        var url = `/tutors-profile?tutor_id=${tutor_id}`;
        axios
          .get(url, {
          })
          .then(function (result) {
            window.location.href = url;
          })
          .catch(function (error) {
            alert(error.message);
          });
      }

      function gotoSP(song_id) {
        console.log(song_id);
        var url = `/songs-profile?song_id=${song_id}`;
        console.log(url);
        axios
          .get(url, {
          })
          .then(function (result) {
            window.location.href = url;
          })
          .catch(function (error) {
            alert(error.message);
          });
      }
    </script>
    <% if(login_state) { %>
    <main id="board" role="main" class="container">

      <div class="my-3 p-3 bg-white rounded shadow-sm">

        <h6 class="border-bottom border-gray pb-2 mb-0">Tutors list</h6>
        <% tutor_information.forEach(function(tutor){ %>
        <div class="media text-muted pt-3"></div>
        <div class="d-flex justify-content-between align-items-center w-100">
          <img src=<%= tutor.profile_image %> width="100" height="100">
          <strong class="text-gray-dark">[<%= tutor.tutor_name %>] <%= tutor.description1 %></strong>
          <button onclick="gotoTP(<%= tutor.tutor_id %>)">lecture</button>
        </div>
        <% }) %>

        <small class="d-block text-right mt-3">
          <a href="/tutors">All updates</a>
        </small>
      </div>

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Songs list</h6>
        <% song_information.forEach(function(song){ %>
        <div class="media text-muted pt-3"></div>
        <div class="d-flex justify-content-between align-items-center w-100">
          <img src=<%= song.song_image %> width="100" height="100">
          <strong class="text-gray-dark">[<%= song.song_name %>] <%= song.description1 %></strong>
          <% var url = `/songs-profile?tutor_id=${song.tutor_id}`; %>
          <button onclick="gotoSP(<%= song.song_id %>)">lecture</button>
        </div>
        <% }) %>
        <small class="d-block text-right mt-3">
          <a href="songs">Other songs</a>
        </small>
      </div>
      <% } %>

      <section id="testimonials">

        <div id="testimonial-carousel" class="carousel slide" data-ride="false" data-interval="3000" data-pause="hover">
          <div class="carousel-inner">

            <div class="my-3 p-3 bg-white rounded shadow-sm carousel-item active">
              <h6 class="border-bottom border-gray pb-2 mb-0">Tutors list</h6>
              <% tutor_information.forEach(function(tutor){ %>
              <div class="media text-muted pt-3"></div>
              <div class="d-flex justify-content-between align-items-center w-100">
                <img src=<%= tutor.profile_image %> width="100" height="100">
                <strong class="text-gray-dark">[<%= tutor.tutor_name %>] <%= tutor.description1 %></strong>
                <button onclick="gotoTP(<%= tutor.tutor_id %>)">lecture</button>
              </div>
              <% }) %>

              <small class="d-block text-right mt-3">
                <a href="/tutors">All updates</a>
              </small>
            </div>


            <div class="my-3 p-3 bg-white rounded shadow-sm carousel-item">
              <h6 class="border-bottom border-gray pb-2 mb-0">Songs list</h6>
              <% song_information.forEach(function(song){ %>
              <div class="media text-muted pt-3"></div>
              <div class="d-flex justify-content-between align-items-center w-100">
                <img src=<%= song.song_image %> width="100" height="100">
                <strong class="text-gray-dark">[<%= song.song_name %>] <%= song.description1 %></strong>
                <% var url = `/songs-profile?tutor_id=${song.tutor_id}`; %>
                <button onclick="gotoSP(<%= song.song_id %>)">lecture</button>
              </div>
              <% }) %>
              <small class="d-block text-right mt-3">
                <a href="songs">Other songs</a>
              </small>
            </div>

            <div class="my-3 p-3 bg-white rounded shadow-sm carousel-item">
              <h6 class="border-bottom border-gray pb-2 mb-0">My Uploads</h6>
              <% song_information.forEach(function(song){ %>
              <div class="media text-muted pt-3"></div>
              <div class="d-flex justify-content-between align-items-center w-100">
                <img src=<%= song.song_image %> width="100" height="100">
                <strong class="text-gray-dark">[<%= song.song_name %>] <%= song.description1 %></strong>
                <% var url = `/songs-profile?tutor_id=${song.tutor_id}`; %>
                <button onclick="gotoSP(<%= song.song_id %>)">lecture</button>
              </div>
              <% }) %>
              <small class="d-block text-right mt-3">
                <a href="songs">Other songs</a>
              </small>
            </div>

          </div>

          <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>

      </section>






      <!-- Footer -->

      <footer id="footer">
        <h3>Find the Joy of Learning piano's Life Today.</h3>
        <p>made by ECONOVATION TEAM youngDev</p>
        <p>© Copyright 2020 pianotutoring</p>
      </footer>
      <!-- Footer -->

      <footer id="footer"></footer>
</body>

</html>

<body></body>